/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 1200 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 1200 Grid
================================================== */

	.band										{ width:100%; background:#efa427; height:160px; margin-bottom:10px; position:relative; }
	.band.inside 								{ height:45px; }
    .container                                  { position: relative; width: 1200px; margin: 0 auto; padding: 0; }
	.container.white 							{ min-height:200px; background:#fff; padding-top:10px; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.container .column-home                    { float: left; display: inline; margin-left: 5px; margin-right: 5px; margin-bottom:10px; }
	.container .column-home img                  { max-width:100%; margin:0 0 -6px 0; padding:0; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

	.column-home.alpha                          { margin-left: 0; }
	.column-home.omega                          { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 280px; }
    .container .two.columns                     { width: 580px; }
    .container .three.columns                   { width: 880px; }
    .container .four.columns                    { width: 1180px; }

    .container .one-third.column                { width: 380px; }
    .container .one-third.column-home           { width: 387px; }
    .container .two-thirds.column               { width: 780px; }
	.container #logo								{ max-width:50%;}

    /* Offsets */
    .container .offset-by-one                   { padding-left: 300px;  }
    .container .offset-by-two                   { padding-left: 600px; }
    .container .offset-by-three                 { padding-left: 900px; }
	
	/* Menu Styles */
	.container .one.column.menu					{ display:block; min-height:45px; text-align:center; font-size:20px; background:#efa427; position:relative;}
	.container .one.column.menu	a 				{ text-decoration:none; width:90%; height:40px; text-decoration:none; display:block; color:#000; position:relative; padding-top:11px; }
	.container .one.column.menu	a .link			{ display:block; height:20px;/* margin-top:15px; */}
	.container .one.column.menu	a:hover .link	{ color:#fff;}
	.container .one.column.menu a .arrow-down 	{ 
		position:absolute; 
		top:18px; 
		left:175px; 
		width:0px; 
		height:10px; 
		border-left: 8px solid transparent; 
		border-right: 8px solid transparent; 
		border-top: 8px solid #000; 
	}
	.container .one.column.menu a:hover .arrow-down { border-top: 8px solid #fff; }
	
	/* #Slider 
	/*=================================================*/
		h3.title 					{ text-align:center; margin:0; padding:0; line-height:normal; }
		.liquid-slider img 			{ float:left; max-width:63%; }
		.liquid-slider .textholder 	{ float:left; max-width:34%; color:#000; margin-left:15px; }

/* #Desktop 1200 px wide or wider
================================================== */

	/* Note Design for a width of 1200 pixels or wider */
	
    @media only screen and (min-width: 1200px) {
		.container #aboutMenu 	{ display:none; position:absolute; top:50px; left:0; z-index:600; }
		/*.container > #aboutMenu:after { position:absolute; top:50px; left:0; z-index:600; }*/
		.band #tabletMenu 				{ display:none; }
		.band #mobileMenu 				{ display:none; }
		.band #desktopMenu 				{ display:visible; }
		h3.title						{ margin-bottom: 15px; }
		.liquid-slider .textholder p 	{ font-size:18px; line-height:28px; }
}
	


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
		.container .column-home                    	{ margin-left: 5px; margin-right: 5px; margin-bottom:10px; }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

		.column-home.alpha                          { margin-left: 0; }
		.column-home.omega                          { margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 172px; }
        .container .two.columns                     { width: 364px; }
        .container .three.columns                   { width: 556px; }
        .container .four.columns                    { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .one-third.column-home           { width: 243px; }
        .container .two-thirds.column               { width: 492px; }
		.container #logo								{ max-width:50%; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 192px; }
        .container .offset-by-two                   { padding-left: 384px; }
        .container .offset-by-three                 { padding-left: 576px; }

		.container .one.column.menu a .arrow-down 	{ left:125px; }
		.container #aboutMenu 						{ display:none; position:absolute; top:50px; left:0; z-index:600; }
		.band #tabletMenu 							{ display:visible; }
		.band #mobileMenu 							{ display:none; }
		.band #desktopMenu 							{ display:none; }
		.liquid-slider .panel						{ height:250px; }
		h3.title									{ font-size:18px; }
		
		/* #Slider 
		/*=================================================*/
			h3.title 					{ text-align:center; margin:0; padding:0; line-height:normal; }
			.liquid-slider img 			{ float:left; max-width:63%; }
			.liquid-slider .textholder 	{ float:left; max-width:34%; color:#000; margin-left:15px; }
    }
	
/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
		.band 						{background:#fff;;}
        .container 					{ width: 300px; }
        .container .columns,
        .container .column 			{ margin: 0; }
		.container .column-home 	{ margin: 0 0 10px 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .one-third.column,
        .container .one-third.column-home,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four { padding-left: 0; }
		
		/* Menu */
		.container #logo								{max-width:100%;}
		.container .one.column.menu					{border-bottom:1px solid #000;}
		.container .one.column.menu.alpha			{ border-top:1px solid #000; }
		.container .one.column.menu.omega			{border-bottom:none;}
		/*.container .one.column.menu a.increase	 	{ margin-bottom:10px; } */
		.container .one.column.menu a .arrow-down 	{ left:184px; }
		.band #desktopMenu {display:none;}
		.band #tabletMenu {display:none;}
		.band #mobileMenu {display:visible;}
		
		.liquid-slider img							{ display:none; }
		.liquid-slider .textholder					{ max-width:100%; }
    }



/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
		.band {background:#fff;;}
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }
		.container .column-home { margin: 0 0 10px 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .one-third.column,
        .container .one-third.column-home,
        .container .two-thirds.column { width: 420px; }

		/* Menu */
		.container #logo								{ max-width:100%; }
		.container .one.column.menu					{ border-bottom:1px solid #000; }
		.container .one.column.menu.alpha			{ border-top:1px solid #000; }
		.container .one.column.menu.omega			{ border-bottom:none; }
		/*.container .one.column.menu a.increase	 	{ margin-bottom:10px; }*/
		.container .one.column.menu a .arrow-down 	{ left:238px; }
		.band #desktopMenu 							{ display:none; }
		.band #tabletMenu							{ display:none; }
		.band #mobileMenu 							{ display:visible; }
		
		.liquid-slider img							{ display:none; }
		.liquid-slider .textholder					{ max-width:100%; }
    }
	


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

/* #Internet Explorer 8
================================================= */
html.ie > body > .band #mobileMenu {display:none;}
html.ie > body > .band #tabletMenu {display:none;}
html.ie > body > .band { z-index:1; }
html.ie > body > .band > .container { z-index:1; }
html.ie > body > .band > .container > .one-third.column-home.alpha { z-index:1; }
html.ie > body > .band > .container > .one-third.column-home.alpha img { z-index:1; }
html.ie > body > .band > #desktopMenu > #aboutMenu { display:none; position:absolute; top:50px; left:0; z-index:1000; }
